

<!-- <div [ngSwitch]="role">

    <div *ngSwitchCase="'user'">
        Welcome To User 😁
    </div>

    <div *ngSwitchCase="'admin'">
        <hotel-rooms></hotel-rooms>
    </div>

    <div *ngSwitchDefault>
        Please Conform Your User or Admin 😒
    </div>

</div> -->
<!-- <hotel-rooms></hotel-rooms> -->

<!-- <ng-template #dash></ng-template> -->

<!-- <hr>
<hr>

<div class="container">
    <hotel-container>
        <h1>Its a Corona</h1>
   
    </hotel-container>
</div> -->

<!-- <div class="container">
    <hotel-container>

        <hotel-rooms></hotel-rooms>
<h1 >Dashborad</h1>

        <hotel-employee></hotel-employee>

    </hotel-container>
</div> -->

<!-- <hotel-products></hotel-products>
 -->


<hotel-app-nav></hotel-app-nav>
