<hr>
 <!-- <router-outlet></router-outlet> -->
<hr>
<h3 class="text-center">{{totalbyte}}</h3>


<div class="container mt-5 mb-5">
  <h2 class="text-center">Our Products</h2>

  <table class="table table-bordered text-center">
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
        <th>Image</th>
        <!-- <th>Rating</th> -->
        <th>Price</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let Product of products; let i = index">
        <td>{{ Product.id }}</td>
        <td>{{ Product.title }}</td>
        <td>{{ Product.description }}</td>
        <td><img src="{{ Product.image }}" alt="" /></td>
        <!-- <td>{{ Product.rating.rate }}/{{ Product.rating.count }}</td> -->
        <td>{{ Product.price | currency : "INR" }}</td>
        <td>
          <!-- <button class="btn btn-primary" (click)="add()">
            Book&nbsp;Now
          </button> -->

          <button class="btn btn-primary" [routerLink]="['/home', Product.id]"> Book&nbsp;Now</button>
          


        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn-primary btn" (click)="editProducts()">Update</button>
  <button class="btn-primary btn" (click)="deletebtn()">Delete</button>




</div>

